<%- include('partials/header.ejs') %>

    <h1 class="text-center fw-bold text-body-emphasis">Jokes!</h1>
   <% if (locals.newP) { %>
    <% newP.forEach(function(newPo, index) { %>
             <div class="container my-5">
             <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
              <form action="/delete" method="POST">
                <input type="hidden" name="index" value="<%= index %>">

              <button type="submit" class="position-absolute top-0 end-0 p-3 m-3 btn-close bg-secondary bg-opacity-10 rounded-pill" aria-label="Close"></button>
            </form> 

              <h2 class="text-body-emphasis"><%= newPo.setup %></h2>
              <h3 class="text-body-emphasis"><%= newPo.punchline %></h3>
             </div>
            </div>
           </div>
          <% } )%>
         <% } %>

    <div class="px-4 py-5 my-5 text-center">
        <h3 class="display-5 my-3">Get new joke</h3>
        <form action="/submit" method="post">
            <div class="mb-3 col-lg-6 mx-auto">
                <button type="submit" class="btn btn-light btn-outline-secondary btn-lg">Click to get new joke!</button>
            </div>
          </form>
      </div>
    <%- include('partials/footer.ejs') %>